body {
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--color-purple);
  color: var(--color-white);
  padding: 1.5rem;
}
h2 {
  font-size: var(--fs-m);
  color: var(--color-white);
  line-height: 1.75;
  font-weight: 500;
}
footer {
  margin-block-start: 2.5rem;
}
section > .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title-cont {
    p {
      color: var(--color-white-transparent-60);
      font-size: var(--fs-text);
    }
  }
}
section:nth-of-type(n + 2) {
  margin-top: 2.5rem;
}
