{% extends 'admin/layout.html.twig' %}

{% block title %}Validation Professeur{% endblock %}

{% block admin_content %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('admin_professor_answers', {id: user.id}) }}" class="btn btn-info">Voir</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}