header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". logo link";
  align-items: center;

  .logo-header {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: logo;
  }
  .link {
    grid-area: link;
    margin-left: auto;
    width: 1.5rem;
    aspect-ratio: 1;
  }
}

.user-header {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  margin-left: 300px;
}

.user-avatar {
  display: flex;
  gap: 0.5rem;
}

.link-user-header {
  gap: 1ch;
  display: flex;
  align-items: center;
}

.link-user-header p {
  margin: 0;
}

.link-user-header:hover p {
  text-decoration: underline;
}

.btn-header {
  display: inline-block;
  background-color: var(--color-orange);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  width: 100%;
}

.btn-header:hover {
  background-color: rgb(221, 126, 25);
}
