<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Chargement...</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100vh;
				background: #f8f9fa;
			}
			.loader {
				border: 8px solid #eee;
				border-top: 8px solid #6f42c1;
				border-radius: 50%;
				width: 70px;
				height: 70px;
				animation: spin 1s linear infinite;
			}
			@keyframes spin {
				100% {
					transform: rotate(360deg);
				}
			}
			.text {
				margin-top: 20px;
				font-size: 1.5rem;
				color: #6f42c1;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div style="display: flex
																				;
																			flex-direction: column;
																			align-items: center;;">
			<div class="loader"></div>
			<div class="text">Chargement</div>
		</div>
		<script>
			// Redirige vers la home après 2 secondes pour une meilleure expérience utilisateur
setTimeout(function () {
window.location.href = "{{ redirect_to }}";
}, 2000);
		</script>
	</body>
</html>
