<footer class="app-footer bg-primary d-flex justify-content-around align-items-center py-2">
	<a href="#" class="text-white">
		<i class="bi bi-award fs-4"></i>
	</a>
	<a href="#" class="text-white">
		<i class="bi bi-geo-alt fs-4"></i>
	</a>
	<a href="#" class="text-white">
		<i class="bi bi-chat-dots fs-4"></i>
	</a>
	<a href="#" class="text-white">
		<i class="bi bi-people fs-4"></i>
	</a>
</footer>
