{% extends 'base.html.twig' %}


{% block body %}
	<div class="welcome-container">
		<div class="logo-container">
			{% include 'components/_logo.html.twig' %}
		</div>
		<p class="welcome-text">Découvrez une nouvelle manière d’apprendre des langues, facilement et gratuitement !</p>
		<div class="buttons-container">
			<a href="{{ path('app_register') }}" class="button-register">INSCRIPTION</a>
			<a href="{{ path('app_login') }}" class="button-login">CONNEXION</a>
		</div>
	</div>
{% endblock %}
